.root{
    -fx-text-base-color: black;
    -fx-text-fill: -fx-text-base-color;

    /* This is the default Windows-font */
    -fx-font-family: "Segoe UI";
    -fx-font-size: 11.0;
}

.text {
    -fx-font-smoothing-type: lcd;
}
/********************************************
*                                           *
*       Button & Default-Button             *
*                                           *
*********************************************/
.button{
    -fx-background-color:
        #707070,
        linear-gradient(#fcfcfc, #f3f3f3),
        linear-gradient(#f2f2f2 0%, #ebebeb 45%, #dddddd 55%, #cfcfcf 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 30 3 30;
}

.button:default, .button:hover{
    -fx-background-color:
        #4D71B6,
        linear-gradient(#4ACEFF, #4ACEFF),
        linear-gradient(#EAF2F7 0%, #EAF2F7 45%, #C5D9EA 55%, #C5D9EA 100%);
}

.button:armed{
    -fx-background-color:
        #4D71B6,
        linear-gradient(#3C578F, #3C578F),
        linear-gradient(#DDEEFC 0%, #DDEEFC 45%, #79B0E5 55%, #79B0E5 100%);
}

/********************************************
*                                           *
*       TextField                           *
*                                           *
*********************************************/
.text-field{
   /* If four values are used, the sides are top, right, bottom, left. */
   -fx-border-color: rgb(170.0, 170.0, 178.0) rgb(218.0, 220.0, 230.0) rgb(226.0, 231.0, 239.0) rgb(226.0, 224.0, 234.0);
}
.text-field:focused{
    -fx-border-color: rgb(77.0, 109.0, 178.0) rgb(166.0, 194.0, 231.0) rgb(184.0, 212.0, 240.0) rgb(183.0, 200.0, 234.0);
    /* Remove the blue glow on focus */
    -fx-background-insets: 0, 0, 0, 0;
}
